---
extends: default
yaml-files:
  - '*.yml'
rules:
  new-line-at-end-of-file:
    level: error
  trailing-spaces:
    level: warning
  line-length:
    max: 1000
    allow-non-breakable-words: true
    level: warning
  new-lines:
    level: error
  indentation: disable
