---
title: Contributors
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An overview of all contributors to {{ site.title }} - both in terms of GitHub activity and provided resources.">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://cdnjs.cloudflare.com/ https://visit.hijacklibs.net/ ; img-src 'self' https://icons.duckduckgo.com/ https://avatars.githubusercontent.com/ https://visit.hijacklibs.net/ ; connect-src https://api.github.com/">

    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="icon" type="image/x-icon" href="{{ site.favicon_location }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous">
    <script src="{{ '/assets/js/contributors.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/visit.js' | relative_url }}" async></script>
</head>

<body data-github-repo="{{site.repo}}">
    <article>
        <div class="search-banner">
            <header>
                <div class="back"><i class="fas fa-arrow-left light" id="back-button"></i></div>
                <h1>{{ site.title }}</h1>
            </header>
        </div>

        <section>
            <h2>{{ page.title }}</h2>
            <p>{{ site.title }} thanks everyone who has added entries to this project:</p>
            <div id="contributors"></div>
            <p>{{ site.title }} is grateful to all cyber security researchers who provided resources that enabled the
                creation of new entries for this project:</p>
            <table class="contributors">
                <thead>
                    <tr>
                        <th>Website</th>
                        <th>Number of references</th>
                    </tr>
                </thead>
                <tbody>
                    {%- assign resources_url_all = '' | split: ',' %}
                    {%- assign sites_expand = 'twitter.com,github.com,medium.com' | split: ',' %}
                    {%- for file in site.entries %}
                    {%- for resource in file.Resources %}
                    {% assign base_url_ = resource | downcase | replace: "www.","" | split: '//' | last | split: '/' %}
                    {% assign base_url = base_url_[0] %}
                    {% if sites_expand contains base_url %}
                    {% assign base_url = base_url_[0] | append: '/' | append: base_url_[1] %}
                    {% endif %}
                    {% assign resources_url_all = resources_url_all | push: base_url %}
                    {%- endfor %}
                    {%- endfor %}
                    {%- assign resources_url = resources_url_all | group_by_exp: "item", "item" | sort: 'size' | reverse
                    | group_by: "size" %}
                    {%- for count in resources_url -%}
                    {%- assign items = count.items | sort: 'name' %}
                    {%- for elem in items %}
                    <tr>
                        <td><img src="https://icons.duckduckgo.com/ip3/{{ elem.name | split:'/' | first }}.ico"
                                class="external-favicon" alt="Favicon of {{elem.name }}"> <a
                                href="https://{{ elem.name }}">{{ elem.name }}</a></td>
                        <td>{{ count.name }}</td>
                    </tr>
                    {%- endfor %}
                    {%- endfor -%}
                </tbody>
            </table>
        </section>
    </article>
</body>

</html>
