:root {
    --theme-colour: rgb(225, 105, 50);
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Black Italic'), local('../font/SourceSans3-BlackItalic'),
        url('../font/SourceSans3-BlackItalic.woff2') format('woff2'),
        url('../font/SourceSans3-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Black'), local('../font/SourceSans3-Black'),
        url('../font/SourceSans3-Black.woff2') format('woff2'),
        url('../font/SourceSans3-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Bold'), local('../font/SourceSans3-Bold'),
        url('../font/SourceSans3-Bold.woff2') format('woff2'),
        url('../font/SourceSans3-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Bold Italic'), local('../font/SourceSans3-BoldItalic'),
        url('../font/SourceSans3-BoldItalic.woff2') format('woff2'),
        url('../font/SourceSans3-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 ExtraBold'), local('../font/SourceSans3-ExtraBold'),
        url('../font/SourceSans3-ExtraBold.woff2') format('woff2'),
        url('../font/SourceSans3-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 ExtraBold Italic'), local('../font/SourceSans3-ExtraBoldItalic'),
        url('../font/SourceSans3-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/SourceSans3-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 ExtraLight'), local('../font/SourceSans3-ExtraLight'),
        url('../font/SourceSans3-ExtraLight.woff2') format('woff2'),
        url('../font/SourceSans3-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 ExtraLight Italic'), local('../font/SourceSans3-ExtraLightItalic'),
        url('../font/SourceSans3-ExtraLightItalic.woff2') format('woff2'),
        url('../font/SourceSans3-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Italic'), local('../font/SourceSans3-Italic'),
        url('../font/SourceSans3-Italic.woff2') format('woff2'),
        url('../font/SourceSans3-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Light'), local('../font/SourceSans3-Light'),
        url('../font/SourceSans3-Light.woff2') format('woff2'),
        url('../font/SourceSans3-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Light Italic'), local('../font/SourceSans3-LightItalic'),
        url('../font/SourceSans3-LightItalic.woff2') format('woff2'),
        url('../font/SourceSans3-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Medium'), local('../font/SourceSans3-Medium'),
        url('../font/SourceSans3-Medium.woff2') format('woff2'),
        url('../font/SourceSans3-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Medium Italic'), local('../font/SourceSans3-MediumItalic'),
        url('../font/SourceSans3-MediumItalic.woff2') format('woff2'),
        url('../font/SourceSans3-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Regular'), local('../font/SourceSans3-Regular'),
        url('../font/SourceSans3-Regular.woff2') format('woff2'),
        url('../font/SourceSans3-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 SemiBold'), local('../font/SourceSans3-SemiBold'),
        url('../font/SourceSans3-SemiBold.woff2') format('woff2'),
        url('../font/SourceSans3-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 SemiBold Italic'), local('../font/SourceSans3-SemiBoldItalic'),
        url('../font/SourceSans3-SemiBoldItalic.woff2') format('woff2'),
        url('../font/SourceSans3-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Source Sans 3', Arial;
    font-weight: normal;
    font-style: normal;
    line-height: 1.1em;
    margin: 0;
    overflow-y: scroll;
    padding-top: 1em;
}

h1 {
    font-size: 2.5em;
    word-break: break-word;
}

h3 {
    font-size: 1em;
}

a {
    color: color-mix(in srgb, var(--theme-colour) 85%, rgb(0, 0, 0));
}

p {
    text-align: justify;
}

mark {
    background: #fac013;
    color: inherit;
}

code {
    height: 300px;
    overflow-y: scroll;
    font-family: Consolas, monaco, monospace;
    font-size: small;
}

figure {
    margin: 0;
}

div.metadata {
    display: flex;
    margin: 10px 0px;
    word-break: break-word;
    gap: 3px;
}

div.dll-types {
    display: flex;
    flex-direction: column;
    gap: 1em
}

div.dll-types>div>span:not(.type) {
    display: block;
}

@media only screen and (max-width: 600px) {

    div.metadata,
    div.latest-items-wrapper {
        flex-wrap: wrap;
    }

    div.metadata>div {
        flex: 0 0 100%;
    }

    div.dll-types>div>span:not(.type) {
        display: unset;
    }

    ul.resources {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 0 10px;
    }
}

div.key {
    font-weight: bold;
    flex-basis: 160px;
    flex-shrink: 0;
}

.pill {
    /* font-size: x-small; */
    background: var(--theme-colour);
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 0 2px;
}

.pill a {
    color: white;
}

.pill>.counter {
    /* margin: auto 0 auto 3px; */
    font-size: xx-small;
    color: var(--theme-colour);
    /* padding: 1px; */
    border-radius: 4px;
}

.pill>img {
    height: 1em;
    vertical-align: middle;
}

.pill.type {
    font-size: initial;
    display: initial;
}

.pill.uac {
    background: #58b000;
    white-space: nowrap;
    cursor: default;
}

.pill.condition {
    background: #0081bd;
    white-space: nowrap;
    cursor: default;
}

.pill.privesc {
    background: #ff9900;
    white-space: nowrap;
    cursor: default;
}

.pill.hash {
    background: #336fcc;
    white-space: nowrap;
    font-weight: bold;
}

.pill.hash a {
    color: white;
    text-decoration: none;
}

.pill.home-dll,
.pill.results-dll {
    --background-colour: white;
    --foreground-colour: var(--theme-colour);
    --border-colour: var(--foreground-colour);

    background: var(--background-colour);
    border: 1px solid var(--border-colour);
    font-size: revert;
    cursor: pointer;
}

.pill.home-dll {
    white-space: nowrap;
}

.pill.results-dll {
    margin: 0 0 1px 0;
}

.pill.results-dll>a {
    white-space: normal;
    line-break: anywhere;
}

.pill.home-dll>a,
.pill.results-dll>a {
    color: var(--foreground-colour);
}

.pill.home-dll:hover,
.pill.results-dll:hover {
    background: var(--foreground-colour);
    transition: all .05s ease-in;
}

.pill.home-dll:hover>a,
.pill.results-dll:hover>a {
    color: var(--background-colour);
    transition: all .05s ease-in;
}

.pill.home-vendor {
    --background-colour: white;
    --foreground-colour: rgb(37, 37, 37);
    --border-colour: var(--foreground-colour);
    display: flex;
    background: var(--background-colour);
    border: 1px solid var(--border-colour);
    white-space: nowrap;
    /* font-size: smaller; */
    cursor: pointer;
}

.pill.home-vendor>a {
    color: var(--foreground-colour);
    text-decoration: none;
}

.pill.home-vendor:hover {
    background: var(--foreground-colour);
    border: 1px solid var(--background-colour);
    transition: all .05s ease-in;
}

.pill.home-vendor:hover>a {
    color: var(--background-colour);
    transition: all .05s ease-in;
}

div.description_wrapper {
    background: #EEE;
}

.description {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 1.3em;
}

.pills {
    display: flex;
    gap: 0 2px
}

.pills.small {
    font-size: small;
}

.vulnerable_exe {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 1.6em);
}

.latest-items-wrapper .pill {
    padding: 2px 4px;
    align-items: center;
}

footer {
    position: sticky;
    /* margin: 0.5em 0; */
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #DDD;
}

footer>div {
    position: relative;
    min-width: 350px;
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
}

header {
    display: flex;
    flex-wrap: wrap;
    /* padding: 2em 0 0 0 !important; */
    margin-bottom: 0;
}

header>h1, header .logo.entry>h1 {
    display: inline;
    margin: 0;
}
header .logo.entry {
    font-size: 0.9em;
}

header>.back {
    margin-left: -1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;

}

header>.back>i {
    color: #999;
    cursor: pointer;
}

header>.back>i.light {
    color: #ddd;
}

ul.resources {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.resources .fa-fw {
    margin-right: 3px;
}

ul.dirs,
ul.files {
    list-style: none;
    padding: 0;
}

ul.dirs>li,
ul.files>li {
    padding-left: 5px;
    margin: 2px 0;
}

ul.dirs li::before,
ul.files li::before {
    text-align: center;
    width: 1.25em;
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    margin: 0 5px 0 0;
    font-weight: 900;
}

ul.dirs li::before {
    content: "\0f07c";
    color: orange;
}

ul.files li::before {
    content: "\0f15b";
    color: #cacaca;
}

#filters {
    text-align: right;
    font-size: small;
    min-height: 19px;
}

#filters>input {
    transform: scale(0.75);
}

button.button {
    --background-colour: white;
    --text-colour: var(--theme-colour);
    --border-colour: var(--text-colour);

    border: 1px solid var(--border-colour);
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background: var(--background-colour);
    color: var(--text-colour);
}

button.button:hover {
    background: var(--text-colour);
    color: var(--background-colour);
    transition: all .2s ease-in;
}

button.button:hover a {
    color: var(--background-colour);
    transition: all .2s ease-in;
}

a.link-dotted {
    text-decoration-style: dotted;
    color: inherit;
}

@media only screen and (max-width: 850px) {
    div.back {
        display: none !important;
    }

}

.yaml-tab {
    display: none;
}

.yaml-tab pre {
    margin-bottom: 0;
}

.yaml-tab pre code {
    padding-bottom: 20px;
}

.yaml-tab-selected {
    display: block !important;
}

button {
    font-size: initial;
}

.yaml-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.yaml-button {
    background: #333;
    padding: 5px 20px;
    color: white;
    margin-bottom: 0;
    transform: translate(-10px, -45px);
    margin-bottom: -25px;
    cursor: pointer;
    border: 0;
}

.yaml-button-selected {
    background: #444;
    padding: 5px 20px;
    color: white;
}

div.search-banner {
    /* background: rgb(235, 119, 16);
      background: linear-gradient(90deg, rgba(235,119,16,1) 0%, rgba(225,166,50,1) 50%, rgba(235,119,16,1) 100%); */

    background: linear-gradient(-45deg, var(--theme-colour), color-mix(in srgb, var(--theme-colour) 85%, red), color-mix(in srgb, var(--theme-colour) 85%, #ef0), color-mix(in srgb, var(--theme-colour) 85%, yellow), var(--theme-colour));
    background-size: 400% 400%;
    animation: gradient 15s cubic-bezier(.79, .14, .15, .86) infinite;

    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.search-banner.entry {
    padding-bottom: 5px;
    padding-top: 5px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


div.search-banner input[type=text] {
    width: 100%;
    padding: 0.5em;
    font-size: medium;
}

section,
div.section,
header {
    min-width: 300px;
    max-width: 800px;
    padding: 0 20px;
    margin: 5px auto;
}

section:first-of-type {
    margin-top: 0;
}

header>p.subtitle {
    font-style: italic;
    flex-basis: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table>thead td,
table>thead th {
    font-weight: bold;
    background: var(--theme-colour);
    color: white;
    text-align: left;
}

table td,
th {
    padding: 10px 5px;
}

table td:first-of-type,
table th {
    font-weight: bold;
}

table tr:nth-child(even) {
    background: rgb(233, 233, 233)
}

table tr:nth-child(odd) {
    background: #FFF
}

#status {
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px 0;
}

#status .stats {
    color: #555;
    font-size: smaller;
    margin-bottom: 1em;
}

.result-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
    padding: 0 5px;
    flex: 1;
}

.result-row-exe {
    min-width: 200px;
    max-width: 200px;
}

#results ul {
    list-style: none;
    padding-left: 0;
}

#results li {
    display: flex;
    padding: 6px 6px;
}

#results li:hover {
    background-color: rgba(225, 105, 50, 0.1) !important;
}

#results li:nth-child(odd) {
    background-color: #f7f7f7;
}

#results li::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
}

.exe-file::before {
    background-image: url(../img/exe.png);
}

.dll-file::before,
.pill.results-dll>a::before {
    background-image: url(../img/dll.png);
}

.result-row>a {
    flex-grow: 1;
}

.result-row .exe {
    background: #ff9d46;
    color: black;
}

.external-favicon {
    width: 16px;
    vertical-align: middle;
    font-size: 0;
    display: inline-flex;
}

#contributors {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    gap: 2px 5px;
    min-height: 50px;
}

#contributors>div {
    padding: 6px;
    border: 1px solid var(--theme-colour);
    border-radius: 2px;
}

.latest-items-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3px 0;
}

.latest-items-wrapper>* {
    flex: 1;
    max-height: 10em;
    overflow-y: scroll;
}

.latest-items {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 2px 3px;
}

.mitre-text {
    font-style: italic;
    font-size: small;
    display: inline-block;
}

.exe-count {
    color: #ffd4d4;
    font-size: x-small;
}

code.full-name {
    display: contents;
    word-break: break-all;
}

.feed-note {
    font-size: small;
    margin: auto 5px;
    line-height: 1em;
    font-style: italic
}

.download-buttons {
    flex-shrink: 0;
}

.yaml-controls {
    display: flex
}

.nowrap {
    white-space: nowrap
}

img.logo-inline {
    height: 1.25em;
    padding-right: 3px;
    vertical-align: middle;
}

table.contributors {
    border-collapse: collapse;
    border-spacing: 0;
}

table.contributors th:nth-child(2) {
    width: 20%;
}

table .subheader {
    background-color: #faebd7;
}

table.apis {
    border-collapse: collapse;
    border-spacing: 0;
}

table.apis th:nth-child(1) {
    width: 20%;
}

table.apis th:nth-child(2) {
    width: 20%;
}

table.apis th:nth-child(3) {
    width: 30%;
}

.wrap-anywhere {
    word-wrap: anywhere;
}

div.section#window {
    min-height: 120px;
}

strong.sigma {
    margin-right: 2px;
    font-size: larger
}

.headline {
    white-space: nowrap;
    margin-right: 5px;
    /* width: 120px; */
    align-content: center;
    flex-shrink: 0;
    font-weight: bold;
}

a.clickable {
    cursor: pointer
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: min(max(1.5vh, 1em), 1.5em);
    align-items: center;
    gap: 15px;
    line-height: 1em;
}

.logo h1 a {
    color: inherit;
    text-decoration: none;
}

.site-logo {
    height: calc(min(max(1.0vh, 0.8em), 1.5em) * 3);
    filter: drop-shadow(1px 0px 0px #888) drop-shadow(-1px 0px 0px #888) drop-shadow(0px 1px 0px #888) drop-shadow(0px -1px 0px #888) drop-shadow(5px 5px 4px rgba(68, 68, 68, 0.46));
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-colour: color-mix(in srgb, rgb(225, 105, 50) 85%, rgb(0, 0, 0))
    }

    body {
        background-color: #282828;
        color: white;
    }

    #status .stats {
        color: #bbb;
    }

    .pill.home-dll,
    .pill.results-dll {
        --background-colour: var(--theme-colour);
        --border-colour: var(--background-colour);
        --foreground-colour: white;
    }

    .pill.home-vendor {
        --foreground-colour: rgb(37, 37, 37);
        --background-colour: #bbb;
        --border-colour: var(--background-colour);
    }

    .pill>.counter {
        color: var(--theme-colour);
        font-weight: bold;
    }

    a {
        color: rgb(225, 95, 0);
    }

    #results li:nth-child(odd) {
        background-color: #3c3c3c;
    }

    table tr:nth-child(2n+1) {
        background-color: #282828;
    }

    table tr:nth-child(2n) {
        background-color: #3c3c3c;
    }

    mark {
        background: rgba(226, 186, 4, 0.932);
        color: black !important;
    }

    .result-row .exe {
        background: rgba(156, 70, 0, 0.932);
        color: white;
    }

    div.description_wrapper {
        background:
            #3c3c3c;
    }

    footer {
        background-color: #555;
    }

    button.button {
        --background-colour: var(--theme-colour);
        --border-colour: #555;
        --text-colour: "inherit";
    }

    table {
        color: #eee;
        border-color: #555;
    }

    .external-favicon {
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1))
    }

    #contributors>div {
        background-color: "inherit";
        border-color: #555;
    }

    #contributors>div a {
        color: var(--theme-colour);
    }

    ul.files li::before {
        color: white;
    }
}
