body {
    font-family: Arial;
    margin: 0;
    margin-bottom: calc(20px + 2.5em);
    overflow-y: scroll;
    padding-top: 1em;
}

h1 {
    font-size: 2.5em;
    word-break: break-word;
}

h3 {
    font-size: 1em;
}

a {
    color: rgb(192, 61, 0);
}

p {
    text-align: justify;
}

span.highlight {
    background: #fac013;
}

code {
    height: 300px;
    overflow-y: scroll;
    font-family: Consolas, monaco, monospace;
    font-size: small;
}

figure {
    margin: 0;
}

div.metadata {
    display: flex;
    margin: 10px 0px;
    word-break: break-word;
}

div.metadata>div {
    margin-right: 5px;
}

div.key {
    font-weight: bold;
    flex-basis: 160px;
    flex-shrink: 0;
}

.pill {
    font-size: x-small;
    background: rgb(225, 105, 50);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 3px;
    margin-bottom: 1px;
    margin-top: 0;
}

.pill a {
    color: white;
}

.pill.margin-right {
    margin-left: 0px;
    margin-right: 3px;
}

.pill:first-of-type {
    margin-left: 0px;
}

.pill.margin-right:last-of-type {
    margin-right: 0px;
}

.pill>.counter {
    margin: auto 0 auto 3px;
    font-size: xx-small;
    color: rgb(225, 105, 50);
    padding: 1px;
    border-radius: 4px;
}

.pill.type {
    font-size: initial;
}

.pill.uac {
    background: #58b000;
    white-space: nowrap;
    float: right;
}

.pill.condition {
    background: #0081bd;
    white-space: nowrap;
    float: right;
}

.pill.privesc {
    background: #ff9900;
    white-space: nowrap;
    float: right;
}

.pill.hash {
    background: #394eff;
    white-space: nowrap;
    float: right;
}

.pill.hash a {
    color: white;
    text-decoration: none;
}

.pill.home-dll,
.pill.results-dll {
    background: white;
    border: 1px solid rgb(225, 105, 50);
    font-size: revert;
}

.pill.home-dll {
    white-space: nowrap;
    float: right;
}

.pill.results-dll {
    margin: 0 0 1px 0;
}

.pill.results-dll>a {
    white-space: normal;
    line-break: anywhere;
}

.pill.home-dll>a,
.pill.results-dll>a {
    color: rgb(225, 105, 50);
}

.pill.home-dll:hover,
.pill.results-dll:hover {
    background: rgb(225, 105, 50);
    transition: all .05s ease-in;
}

.pill.home-dll:hover>a,
.pill.results-dll:hover>a {
    color: white;
    transition: all .05s ease-in;
}

.pill.home-vendor {
    display: flex;
    background: white;
    border: 1px solid rgb(37, 37, 37);
    white-space: nowrap;
    float: right;
    font-size: smaller;
}

.pill.home-vendor>a {
    color: rgb(37, 37, 37);
    text-decoration: none;
}

.pill.home-vendor:hover {
    background: rgb(37, 37, 37);
    ;
    transition: all .05s ease-in;
}

.pill.home-vendor:hover>a {
    color: white;
    transition: all .05s ease-in;
}

div.description_wrapper {
    background: #EEE;
}

section.description {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.3em;
}

.pills {
    display: flex;
}

.vulnerable_exe {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 1.4em);
}

footer {
    position: fixed;
    /* height: 2.5em; */
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #DDD;
}

footer>div {
    position: relative;
    min-width: 350px;
    max-width: 800px;
    margin: 9px auto;
    padding: 0 10px;
}

header {
    display: flex;
    flex-wrap: wrap;
    /* padding: 2em 0 0 0 !important; */
    margin-bottom: 0;
}

header>h1 {
    display: inline;
    margin: 0;
}

header>.back {
    margin-left: -1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;

}

header>.back>i {
    color: #999;
    cursor: pointer;
}

ul.resources {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.dirs,
ul.files {
    list-style: none;
    padding: 0;
}

ul.dirs>li,
ul.files>li {
    padding-left: 5px;
}

ul.dirs li:before {
    content: "\0f07c";
    font-family: "Font Awesome 5 Free";
    margin: 0 5px 0 0;
    font-weight: 900;
    color: orange;
}

ul.files li:before {
    content: "\0f15b";
    font-family: "Font Awesome 5 Free";
    margin: 0 5px 0 0;
    font-weight: 900;
    color: #a3bcd4;
}


#filters {
    text-align: right;
    font-size: small;
    min-height: 19px;
}

#filters>input {
    transform: scale(0.75);
}

div.button {
    border: 1px solid #b64913;
    display: inline-block;
    padding: 5px 10px;
}

div.button {
    color: #b64913;
}

div.button:hover {
    background: #b64913;
    color: white;
    transition: all .2s ease-in;
}

div.button:hover a {
    color: white;
    transition: all .2s ease-in;
}

a.link-dotted {
    text-decoration-style: dotted;
    color: inherit;
}

@media only screen and (max-width: 850px) {
    div.back {
        display: none !important;
    }

}

.yaml-tab {
    display: none;
}

.yaml-tab pre {
    margin-bottom: 0;
}

.yaml-tab pre code {
    padding-bottom: 20px;
}

.yaml-tab-selected {
    display: block !important;
}

.yaml-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.yaml-button {
    background: #444;
    padding: 5px 20px;
    color: white;
    margin-bottom: 0;
    transform: translate(-10px, -35px);
    margin-bottom: -25px;
    cursor: pointer;
}

.yaml-button-selected {
    background: #333;
    padding: 5px 20px;
    color: white;
}

div.search_banner {
    /* background: rgb(235, 119, 16);
      background: linear-gradient(90deg, rgba(235,119,16,1) 0%, rgba(225,166,50,1) 50%, rgba(235,119,16,1) 100%); */
    background: rgb(225, 105, 50);
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
}

section,
header {
    min-width: 300px;
    max-width: 800px;
    padding: 0 20px;
    margin: 30px auto;
}

header>p.subtitle {
    margin: 0;
    font-style: italic;
    flex-basis: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table>thead td {
    font-weight: bold;
    background: rgb(225, 105, 50);
    color: white;
}

table td {
    padding: 10px 5px;
}

table tr:nth-child(even) {
    background: rgb(233, 233, 233)
}

table tr:nth-child(odd) {
    background: #FFF
}

#status {
    margin-bottom: 20px;
    margin-top: 5px;
}

#status .stats {
    color: #555;
    font-size: smaller;
}

.result-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
    padding: 0 5px;
    flex: 1;
}

#results ul {
    list-style: none;
    padding-left: 0;
}

#results li {
    display: flex;
}

#results li:nth-child(odd) {
    background-color: #f7f7f7;
}

#results li::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
}

.exe-file::before {
    background-image: url(/assets/img/exe.png);
}

.dll-file::before,
.pill.results-dll>a::before {
    background-image: url(/assets/img/dll.png);
}

.result-row>a {
    flex-grow: 1;
}

.result-row .exe {
    background: #ff9d46;
    color: black;
}
